:root {
  --border-color: #222;
  --font-color: #eee;
  --background-light: rgba(0, 0, 0, 0.6);
  --background-dark: rgba(0, 0, 0, 0.9);
}

html,
body {
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: var(--font-color);
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.div-outer-most {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-dark);
  border-bottom: 1px solid var(--border-color);
}

.div-title {
  font-family: "Tangerine", cursive;
  font-size: 70px;
  padding-top: 40px;
}

.div-buttons {
  padding-bottom: 15px;
}

.div-buttons :hover {
  transform: translateY(-10%);
}

.button {
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border-style: none;
  border-bottom-style: none;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  border-style: none;
  border-bottom-style: none;
  outline: none;
  outline: none;
  padding: 20px;
  font-size: 20px;
  background-color: transparent;
  border-bottom: 2px solid transparent;
  transition: transform 0.3s;
}

.button-active {
  border-bottom: 2px solid var(--font-color);
}

.div-main {
  margin: 0 auto;
  padding: 40px;
  background-color: var(--background-light);
  border: 1px solid var(--border-color);
}

.div-main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", cursive;
  font-size: 18px;
  padding: 10px;
  gap: 10px;
  color: var(--font-color);
  border-top: 1px solid var(--border-color);
  background-color: var(--background-light);
}
