<!--htmlhint doctype-first:false -->
<div data-bind="foreach: titles" id="div-menu-wrapper" class="div-menu-wrapper">
  <div class="div-menu-item">
    <img data-bind="attr:{src: image}" alt="Mneu item images" />
    <div data-bind="text: title" class="div-menu-item-title">
      Menu item title
    </div>
    <div class="div-menu-itme-ingredients">
      Tomato sauce, Mozarella, Tomato, Homemade sausage, Garlic, Basil
    </div>
  </div>
</div>
