.div-menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.div-menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 40%;
  background-color: var(--background-light);
  max-width: 300px;
  padding: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Montserrat", cursive;
  color: var(--font-color);
}

.div-menu-item:hover {
  background-color: rgba(99, 99, 99, 0.4);
}

.img-menu-item {
  width: 60%;
}

.div-menu-item-title {
  padding: 15px;
  line-height: 1.2;
  box-sizing: border-box;
  margin: 0;
  cursor: pointer;
  font-size: 4.6rem;
}

.div-menu-itme-ingredients {
  text-align: center;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-size: 1.6rem;
}
