.div-text {
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  font-family: "Montserrat", cursive;
  color: var(--font-color);
}

.img-location {
  display: block;
  width: 100%;
  max-height: 420px;
  padding: 1rem;
  opacity: 90%;
}
