<!--htmlhint doctype-first:false -->
<div class="div-text">📞 123 456 789</div>
<div class="div-text">🏠 Hollywood Boulevard 42, Los Angeles, USA</div>
<img
  class="img-location"
  src="./location.png"
  alt="Mozzafiato restaurant location"
/>
