<!--htmlhint doctype-first:false -->
<div class="lie-text">Made with passion since 1908</div>
<img class="img-chef" src="./chef.png" alt="Chef" />
<div class="lie-text">Order online or visit us!</div>
